SUPABASE_PROJECT_REF="ghpnuzigdcctetfghgpy"
SUPABASE_DB_URL="postgresql://postgres:[YOUR-PASSWORD]@db.ghpnuzigdcctetfghgpy.supabase.co:5432/postgres"
SUPABASE_ACCESS_TOKEN="your-supabase-access-token"
